.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamecontainer {
  width: 1920px;
  height: 1080px;
  padding: 20px;
}

canvas {
  width: 100%;
  height: 100%;
  border: cornflowerblue 1px solid;
}
