# порт проброса клиента
CLIENT_PORT=3000

# порт проброса сервера
SERVER_PORT=3001

# имя пользователя, пароль, название, порт БД
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=flip7-db
POSTGRES_PORT=5432

# внешний URL сервера
EXTERNAL_SERVER_URL=http://localhost:3001

# внутренний URL сервера
INTERNAL_SERVER_URL=http://server:3001

# логин, пароль, порты pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=secret
PGADMIN_PORT=80
PGADMIN_PORT_TO=8080
