# порт проброса клиента
CLIENT_PORT=3000

# порт проброса сервера
SERVER_PORT=3001

# имя пользователя, пароль, название, порт БД
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=flip7-db
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# внешний URL сервера
EXTERNAL_SERVER_URL=http://localhost:3001

# внутренний URL сервера
INTERNAL_SERVER_URL=http://server:3001

# логин, пароль, порты pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=secret
PGADMIN_PORT=80
PGADMIN_PORT_TO=8080

# domain для куки в режиме dev
DEV_COOKIE_DOMAIN=localhost
PROD_COOKIE_DOMAIN=
DOMAIN=46.243.211.198

# разрешённые origins для CORS (через запятую)
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:2000,http://localhost,http://46.243.211.198:3000,http://46.243.211.198:3001,http://46.243.211.198,http://flip7.ya-praktikum.tech,https://flip7.ya-praktikum.tech

# базовый URL Яндекс Практикум API
YP_API_BASE=https://ya-praktikum.tech/api/v2

# OAuth redirect URI
OAUTH_REDIRECT_URI=http://localhost:3000

# URL авторизации Яндекс OAuth
OAUTH_YANDEX_URL=https://oauth.yandex.ru/authorize
